---
import Text from "@/components/fundations/elements/Text.astro";
import type { Episode } from "@/lib/notion";

interface Props {
  episode: Episode;
}

const { episode } = Astro.props;

const url = `/podcast/interviews/${episode.slug}`;
const pubDate = episode.publishedDate
  ? new Date(episode.publishedDate).toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
      day: "2-digit",
    })
  : "";
---

<article class="relative">
  <a href={url} title={episode.title} aria-label={`Listen to ${episode.title}`} class="absolute inset-0"></a>

  {episode.coverArt
    ? <img src={episode.coverArt} alt={episode.title} width="500" height="500" class="object-cover aspect-square w-full" loading="lazy" />
    : <div class="aspect-square bg-stone-100 w-full"></div>
  }

  <div class="mt-4">
    {pubDate && (
      <Text tag="p" variant="textXS" class="uppercase text-base-400">
        <time datetime={pubDate}>{pubDate}</time>
      </Text>
    )}
    <Text tag="h2" variant="textSM" class="mt-1 font-medium">
      {episode.title}
    </Text>
    {episode.shortDescription && (
      <Text tag="p" variant="textSM" class="mt-1 text-base-600">
        {episode.shortDescription}
      </Text>
    )}
  </div>
</article>
