---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, title, description, pubDate, image, author } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  author: Astro.props.post.data.author,
  image: Astro.props.post.data.image.url,
  description: Astro.props.post.data.description,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
const formatAuthorName = (slug) => {
  return slug
    .replace(/-/g, " ") // Replace hyphens with spaces
    .split(" ") // Split the string into words
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1)) // Capitalize the first letter of each word
    .join(" "); // Join the words back with spaces
};

const formattedAuthor = formatAuthorName(author);
---

<article class="relative">
  <a
    href={url}
    title={title}
    aria-label={`Read more about ${title}`}
    class="absolute inset-0"></a>

  <Image
    src={image}
    width="500"
    height="500"
    loading="eager"
    decoding="async"
    class="object-cover h-64 w-full"
    alt={title}
  />
  <div class="mt-4">
    <Text tag="p" variant="textXS" class="uppercase text-base-400">
      <time datetime={pubDate}>{pubDate}</time>
    </Text>
    <Text tag="h2" variant="textb" class="mt-1 font-medium">
      {formattedAuthor} — {title}
    </Text>
    <Text tag="p" variant="textSM" class="mt-1 text-base-600">
      {description}
    </Text>
  </div>
</article>
