---
// Images
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShareButtons from "@/components/fundations/elements/ShareButtons.astro";
// Icons
import Play from "@/components/fundations/icons/Play.astro";
import Mute from "@/components/fundations/icons/Mute.astro";
import Pause from "@/components/fundations/icons/Pause.astro";
import Speaker from "@/components/fundations/icons/Speaker.astro";
import RewindBackwards10s from "@/components/fundations/icons/RewindBackwards10s.astro";
import RewindForward10S from "@/components/fundations/icons/RewindForward10s.astro";
// Components
import PodcastEntry1 from "@/components/podcast/PodcastEntry1.astro";
// Sections
import Subscribe from "@/components/blog/Subscribe.astro";
// Props
const { frontmatter } = Astro.props;
import { getEntry } from "astro:content";
const author = await getEntry("authors", frontmatter.author);
// Get all posts and filter by tag
import { getCollection } from "astro:content";
const allPosts = await getCollection("podcast");
const relatedPosts = allPosts.filter((post) =>
  post.data.tags.some((tag) => frontmatter.tags.includes(tag))
);
---

<BaseLayout>
  <section>
    <Wrapper class="standard" class="pb-32">
      <Image
        height={2000}
        width={2000}
        src={frontmatter.guestAvatar.url}
        alt={frontmatter.guestAvatar.alt}
        class="object-cover size-full object-top max-h-[70dvh]"
      />
      <div>
        {
          frontmatter.audioSrc && (
            <div class="audio-player  border border-black mt-8 p-8">
              <div class="flex items-center gap-2 justify-between w-full">
                <button
                  id="backwardBtn"
                  class="rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                  aria-label="Go back 10 seconds"
                >
                  <RewindBackwards10s class="size-5 " />
                </button>
                <button
                  id="playPauseBtn"
                  class="rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                >
                  <Play id="playIcon" class="size-5 " />
                  <Pause id="pauseIcon" class="size-5 hidden" />
                </button>
                <button
                  id="forwardBtn"
                  class="order-second rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                  aria-label="Go forward 10 seconds"
                >
                  <RewindForward10S class="size-4 " />
                </button>
                <audio id="audioElement" src={frontmatter.audioSrc} />
                <span
                  class="text-xs text-base-600 hidden sm:flex"
                  id="currentTime"
                >
                  00:00
                </span>
                <input
                  type="range"
                  id="seekBar"
                  value="0"
                  step="1"
                  min="0"
                  class=" hidden sm:flex w-full"
                />
                <span
                  class="text-xs text-base-600 hidden sm:flex"
                  id="duration"
                >
                  00:00
                </span>
                <button
                  id="muteBtn"
                  class="rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                  aria-label="Mute/Unmute"
                >
                  <Speaker id="speakerIcon" class="size-5 " />
                  <Mute id="muteIcon" class="size-5 hidden" />
                </button>
              </div>
            </div>
          )
        }
        <div class="pt-12 max-w-xl mx-auto">
          <Text
            tag="h1"
            variant="displayMD"
            class="font-serif font-light leading-6 md:leading-8 text-base-600"
          >
            <span class="text-black"> {frontmatter.title}</span> —
            {frontmatter.description} —</Text
          >

          {
            author && (
              <a
                href={`/authors/${author.slug}`}
                class="flex items-center gap-3 hover:opacity-80 transition mt-4"
              >
                {author?.data?.image?.url && (
                  <Image
                    width={100}
                    height={100}
                    src={author.data.image.url}
                    alt={author.data.image.alt}
                    class="inline-block size-10 object-cover rounded-full object-center"
                  />
                )}
                <Text tag="p" variant="textXS" class="text-base-500 ">
                  <span class="">
                    Written in
                    <span class="italic font-medium text-base-600">
                      <time
                        datetime={new Date(frontmatter.pubDate).toISOString()}
                      >
                        {new Date(frontmatter.pubDate).toLocaleDateString(
                          "en-US",
                          {
                            year: "numeric",
                            month: "long",
                            day: "2-digit",
                          }
                        )}
                      </time>
                    </span>
                  </span>
                  <span class="">
                    by
                    <span class="italic font-medium text-base-600">
                      {author.data.name}
                    </span>
                  </span>
                  <span class="block"> {author.data.role}</span>
                </Text>
              </a>
            )
          }
        </div>

        {
          frontmatter.isLocked ? (
            <div class="mt-12 border-t border-black pt-4">
              <Text
                tag="h4"
                variant="displaySM"
                class="text-black text-balance font-serif max-w-4xl tracking-tight mx-auto font-light"
              >
                This episode is for subscribers only. Unlock premium insights by
                becoming a member.
              </Text>
              <div class="flex  mt-8 flex-wrap gap-2">
                <Link size="sm" variant="muted" href="/forms/login">
                  Log in
                </Link>
                <Link size="sm" variant="default" href="/pricing">
                  Subscribe Now
                </Link>
              </div>
            </div>
          ) : (
            <div class="max-w-xl mx-auto">
              <Text
                tag="h1"
                variant="textXS"
                class="uppercase mt-24 lg:mt-40 text-black"
              >
                transcript
              </Text>
              <Wrapper variant="prose" class=" mt-2">
                <slot />
              </Wrapper>
              <div class="mt-6 pt-6 border-t border-black">
                <ShareButtons
                  contentType="podcast"
                  description={frontmatter.description}
                />
              </div>
            </div>
          )
        }
      </div>
    </Wrapper>
  </section>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-8">
          <Text tag="p" variant="textSM" class="uppercase font-medium">
            Related interviews
          </Text>
          <div class="grid border-t border-black pt-2 mt-2 items-start grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2">
            {relatedPosts.map((post) => (
              <PodcastEntry1 post={post} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
  <Subscribe />
</BaseLayout>
